<div class="container-fluid">
  <img id="burger-img" src="assets/img/burger.jpg" height="200px" width="200px">
  <h1>Eat-Da-Burger!</h1>

  <ul>
    {{#unless devour}}
    {{#each burgers}}
    <li>
      <p>
        {{this.burger}}

        <button data-burgerid="{{this.id}}" class="devour">Devour It!</button>
      </p>
    </li>
    {{/each}}
    {{/unless}}
  </ul>

  <ul>
    {{#if devour}}
    {{#each}}
    <li>
      <p>
        {{this.burger}}
      </p>
    </li>
    {{/each}}
    {{/if}}
  </ul>

  <form id="addburger" class="input-form">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Submit</button>
  </form>
  <h3>Enter a burger you want to eat! Click the "Submit" button.</h3>
</div>
{{!-- <script type="text/javascript">
  $("#addburger").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger: $("#addburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/index", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script> --}}